.tenor-sans-regular {
  font-family: "Tenor Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  font-family: "Tenor Sans", serif;
  text-align: center;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Style the header */
header {
  background-color: #4caf50;
  color: white;
  padding: 1px 0;
  text-align: center;
}

/* Style the main heading */
h1 {
  text-align: center;
  padding: 20px 20px;
  background-color: #4caf50;
  color: whitesmoke;
}

/* Style the navigation menu */
nav {
  border: 2px solid #333;
  border-radius: 2rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
}

/* h2 {
  padding: 1rem;
  background: gold;
  border-radius: 2rem 2rem 0 0;
} */

ul {
  list-style-type: none;
}

li{
  border-top: 1px solid #333;
}

li:first-child {
  border-top: none;
}

li:first-child a {
  border-radius: 1.5rem 1.5rem 0 0;
}

li a {
  display: block;
}

li a:visited {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a:focus {
  background: #A5D6A7;
  color: whitesmoke;
  cursor: pointer;
}

li:last-child a {
  border-radius: 0 0 1.5rem 1.5rem;
}

/* Style the links */
/* nav ul li a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
 */
/* .container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 20px;
  box-sizing: border-box;
}
 */
 /* 
.box {
  flex: 1;
  margin: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 15px;
}

.box:hover {
  background-color: #e5f3e5;
  color: white;
}
 */
/* Style the checklist */
/* span {
  border: 3px solid #4caf50;
  color: #4caf50;
  padding: 6px;
  border-radius: 50%;
  padding-top: 0;
  padding-bottom: 0;
  text-align: end; 
} */

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
